@page "/aboutus"

<PageTitle>About Us</PageTitle>

@using NSB_Insurance.Data


<div class="container-fluid d-flex justify-content-center">
    <div class="container-fluid text-center col-sm-8">
        <h1>About Us</h1>
        <p>
            National Satellite Brokers Pty (Ltd) was established in 1998 by Mr Chris Prinsloo.
            We specialize in short-term insurance and is affiliated with 18 insurers. We can cater for all your car, home and business insurance needs.
        </p>
    </div>
</div>

 <div class="container-fluid d-flex justify-content-center">
     <div class="container-fluid text-center col-sm-8">
        <h1>Our Vission</h1>
        <p>NSB strives to be a reliable Short-Term insurance broker that looks after each client’s interests and guarantees their peace of mind.</p>
     </div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="container-fluid text-center col-sm-8">
         <h1>Our Mission</h1>
         <p>NSB treats every client as an individual and through analyzing each risk portfolio individually we are able to provide our clients with the 
            correct cover options.  We provide a range of different products to cater to each client’s risk profile and we believe in building a good, 
            lasting and professional relationship with our clients.  NSB personnel are qualified specialists in the short-term industry and provide 
            service with passion and integrity.</p>
    </div>
</div>





