@page "/"

<PageTitle>Index</PageTitle>

<img style="width:100%; height:100vh;" src="/img/index-banner.jpg" alt="Banner" />

<div class="container-fluid mb-5 mt-5" style="margin-bottom:10rem;">
    <h1 class="container-fluid d-flex justify-content-center mb-3 mt-3">Is Your Future Protected? </h1>
    <h4 class="container d-flex justify-content-center mb-lg-5">Discover the Importance of Insurance for Your Peace of Mind</h4>
    <div class="row d-flex justify-content-center" id="indexCard">
        <div class="card col-sm-3">
            <div class="card-body">
                <p>NSB is an authorised Financial service provider looking after their clients interest for more than 21 years</p>
            </div>
        </div>
        <div class="card col-sm-3">
            <div class="card-body">
                <p>Associated with more than 12 Insurers to enable us to offer our clients a variety of insurance options</p>
            </div>
        </div>
        <div class="card col-sm-3">
            <div class="card-body">
                <p>We believe in personal service and a guaranteed peace of mind</p>
            </div>
        </div>
    </div>
</div>

<section id="get-started" class="get-started section-bg">
      <div class="container d-flex justify-content-center mt-5" style="box-shadow:5rem">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-6 d-flex justify-content-center" data-aos="fade-up">
            <div class="content">
              <h3>Minus hic non reiciendis ea possimus at quia.</h3>
              <p>Rem id rerum. Debitis deserunt quidem delectus expedita ducimus dolor. Aut iusto ipsa. Eos ipsum nobis ipsa soluta itaque perspiciatis fuga ipsum perspiciatis. Eum amet fugiat totam nisi possimus ut delectus dicta.</p>
              <p>Aliquam velit deserunt autem. Inventore et saepe. Tenetur suscipit eligendi labore culpa eos. Deserunt porro magni qui necessitatibus dolorem at animi cupiditate.</p>
            </div>
          </div>

          <div class="col-lg-5" data-aos="fade">
            <form action="forms/quote.php" method="post" class="php-email-form">
              <h1>Get a quote</h1>
              <div class="row gy-3">

                <div class="col-md-12">
                  <input type="text" name="name" class="form-control" placeholder="Name" required>
                </div>

                <div class="col-md-12 ">
                  <input type="email" class="form-control" name="email" placeholder="Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="phone" placeholder="Phone" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your quote request has been sent successfully. Thank you!</div>

                  <button class="btn btn-light" type="submit">Get a quote</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</section>

<div class="container-fluid"></div>