@page "/"

<PageTitle>Index</PageTitle>

<img style="width:100%; height:100vh;" src="/img/index-banner.jpg" alt="Banner" />

<div class="container-fluid mb-5 mt-5">
    <h1 class="container-fluid d-flex justify-content-center mb-3 mt-3">Who is National Satelite Brokers?</h1>
    <div class="row d-flex justify-content-center" id="indexCard">
        <div class="card col-sm-3">
            <div class="card-body">
                <p>NSB is an authorised Financial service provider looking after their clients interest for more than 21 years</p>
            </div>
        </div>
        <div class="card col-sm-3">
            <div class="card-body">
                <p>Associated with more than 12 Insurers to enable us to offer our clients a variety of insurance options</p>
            </div>
        </div>
        <div class="card col-sm-3">
            <div class="card-body">
                <p>We believe in personal service and a guaranteed peace of mind</p>
            </div>
        </div>
    </div>
</div>