@page "/meettheteam"

<PageTitle>Meet The Team</PageTitle>

@using NSB_Insurance.Data

<div class="container-fluid col-lg-3 justify-content-center mb-lg-5 mt-lg-5">
    <h1>Meet the Team</h1>
</div>

<div class="container d-flex justify-content-center">
    <div class="container col-sm-4">
        <img src="/img/nsb logo.jpeg" alt="Logo"/>
    </div>
    <div class="container col-sm-8" >
    <p>
        Introducing our exceptional insurance team, a dedicated group of professionals committed to providing you with unparalleled protection and peace of mind. 
        With a combined experience spanning decades, our team members possess a deep understanding of the insurance industry and an unwavering commitment to client 
        satisfaction.<br /> <br />

        What sets our insurance team apart is our unwavering commitment to our clients. We believe in building long-term relationships based on trust and transparency. 
        Our team takes the time to listen to your specific requirements, assess your risks, and craft comprehensive insurance solutions that protect you and your assets.
    </p>
    </div>
</div>

<div id="teamcards">
   <div class="container-fluid d-flex justify-content-center align-content-center mb-5">
         <div class="card">
            <img src="/img/Chris.jpg" class="card-img-top" alt="Chris Prinsloo">
            <div class="card-body">
                <h4 class="card-title">Chris Prinsloo</h4>
                <h5>CEO</h5>
            </div>
         </div>

        <div class="card" >
            <img src="/img/Jano.jpg" class="card-img-top" alt="Jano Prinsloo">
            <div class="card-body">
                <h4 class="card-title">Jano Prinsloo</h4>
                <h5>General Manager</h5>
            </div>
        </div>

        <div class="card" >
            <img src="/img/Sandra.jpg" class="card-img-top" alt="Sandra Prinsloo">
            <div class="card-body">
                <h4 class="card-title">Sandra Breytenbach</h4>
                <h5>Office Manager</h5>
            </div>
          </div>
  </div>

 <div class="container-fluid d-flex justify-content-center">
    <div class="card">
        <img src="/img/Rene.jpg" class="card-img-top" alt="Rene Scheepers">
        <div class="card-body">
                <h4 class="card-title">Renè Scheepers</h4>
                <h5>Portfolio Consultant</h5>
        </div>
    </div>

    <div class="card">
        <img src="/img/Alna.jpg" class="card-img-top" alt="Alna Bloem">
        <div class="card-body">
                <h4 class="card-title">Alna Bloem</h4>
                <h5>Portfolio Consultant</h5>
            </div>
    </div>

    <div class="card">
        <img src="/img/Madele.jpg" class="card-img-top" alt="Madele Pretorius">
        <div class="card-body">
                <h4 class="card-title">Madelé Pretorius</h4>
                <h5>Portfolio Consultant</h5>
        </div>
    </div>

        <div class="card">
            <img src="/img/Darrelle.jpg" class="card-img-top" alt="Darrelle Kelbrick">
            <div class="card-body">
                <h4 class="card-title">Darrelle Kelbrick</h4>
                <h5>Sales Consultant</h5>
            </div>
        </div>
 </div>
</div>
