@page "/meettheteam"

<PageTitle>Meat The Team</PageTitle>

@using NSB_Insurance.Data

<div class="container-fluid col-lg-3 justify-content-center mb-lg-5 mt-lg-5">
    <h1>Meet the Team</h1>
</div>

<div id="teamcards">
   <div class="container-fluid d-flex justify-content-center mb-5">
         <div class="card">
            <img src="/img/Chris.jpg" class="card-img-top" alt="Chris Prinsloo">
            <div class="card-body">
                <h5 class="card-title">Chris Prinsloo</h5>
                <h1>CEO</h1>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
         </div>

        <div class="card" >
            <img src="/img/Jano.jpg" class="card-img-top" alt="Jano Prinsloo">
            <div class="card-body">
                <h5 class="card-title">Jano Prinsloo</h5>
                <h5>General Manager</h5>
                <p class="card-text">
                    I started working in the insurance industry in 2003.
                    Insurance is not just a profession for me. It's a family legacy. I started in the industry in 2003 and in 2012 I took over 
                    the management of NSB, a brokerage that my father started in 1998. From an office on the University of Pretoria campus to 
                    our latest move to Menlyn, my focus was on expanding our client base, whilst simultaneously ensuring that we continued to 
                    excel at meeting our client’s needs. I obtained my short-term insurance qualification, completed the Regulatory Examinations 
                    and keep up to date with trends in the insurance sector. It is a point of pride that our clients refer us to their friends, 
                    family, and colleagues. For me, there is no better indication that we're doing something right. We're making a difference in 
                    their lives and standing with them when unexpected disaster strikes.
                </p>
            </div>
        </div>

        <div class="card" >
            <img src="/img/Sandra.jpg" class="card-img-top" alt="Sandra Prinsloo">
            <div class="card-body">
                <h5 class="card-title">Sandra Breytenbach</h5>
                <h5>Office Manager</h5>
                <p class="card-text">“I have been working in the short-term insurance industry for the past 11 years.  I have my full 
                    qualification and strive to assist each client to the best of my ability.”</p>
            </div>
          </div>
  </div>

 <div class="container-fluid d-flex justify-content-center">
    <div class="card">
        <img src="/img/Rene.jpg" class="card-img-top" alt="Rene Scheepers">
        <div class="card-body">
                <h5 class="card-title">Renè Scheepers</h5>
                <h5>Portfolio Consultant</h5>
                <p class="card-text">
                    “My name is Renè Scheepers and I will be your dedicated Portfolio Consultant.  I have been working in the Short-Term Insurance industry since 1997.  
                    I am honest and friendly and will strive to assist you in a timeous and effective manner.”
                </p>
        </div>
    </div>

    <div class="card">
        <img src="/img/Alna.jpg" class="card-img-top" alt="Alna Bloem">
        <div class="card-body">
                <h5 class="card-title">Alna Bloem</h5>
                <h5>Portfolio Consultant</h5>
                <p class="card-text">
                    “My name is Alna Bloem and I will be your dedicated Portfolio Consultant.  I have been working in the Short-Term Insurance industry since 1998.  
                    I am honest and friendly and will strive to assist you in a timeous and effective manner.”
                </p>
            </div>
    </div>

    <div class="card">
        <img src="/img/Madele.jpg" class="card-img-top" alt="Madele Pretorius">
        <div class="card-body">
                <h5 class="card-title">Madelé Pretorius</h5>
                <h5>Portfolio Consultant</h5>
                <p class="card-text">
                    “My name is Madelé Pretorius and I will be your dedicated Portfolio Consultant.  I have been working in the Short-Term Insurance industry since 2002.  
                    I am honest and friendly and will strive to assist you in a timeous and effective manner.”
                </p>
        </div>
    </div>

        <div class="card">
            <img src="/img/Darrelle.jpg" class="card-img-top" alt="Darrelle Kelbrick">
            <div class="card-body">
                <h5 class="card-title">Darrelle Kelbrick</h5>
                <h5>Sales Consultant</h5>
                <p class="card-text">
                    My name is Darrelle Kelbrick and I have been in the insurance industry as an accredited insurance sales representative/ broker and portfolio manager for personal lines since 1999.  
                    I have been a member of the NSB family since March 2021 and have a passion for people and servicing people to the best of my ability. I am an ambitious businesswoman with my mind set 
                    on professional advice, assistance and guidance to all my clients.
                </p>
            </div>
        </div>
 </div>
</div>
