<nav id="footer" class="navbar navbar-light bg-light" style="margin-top:5rem;">
    <div class="container-fluid justify-content-center text-dark">
        <p> National Satelite brokers All rights reserved </p>
    </div>
</nav>