@inherits LayoutComponentBase

<PageTitle>NSB Insurance</PageTitle>

<div class="container-fluid">
    
     <header id="navbar">
        <NavBar />
    </header>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>

    <Footer></Footer>
</div>
