@inherits LayoutComponentBase

<PageTitle>NSB Insurance</PageTitle>


    
     <header id="navbar">
        <NavBar />
    </header>

    <main> 
       @Body  
    </main>

<footer id="footer">
    <Footer />
</footer>
